{% extends "base.html" %}

{% block header %}
    <h1 class="display-4">{{heading}}</h1>
    <p class="lead">{{subheading}}</p>
{% endblock header %}

{% block content %}
<div class="container-fluid ">
    <div id="home" class="container d-flex align-content-center flex-wrap " style="min-height: 100vh;">
            <h2>Home</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi atque! Incidunt saepe, tempora aperiam tempore, qui repudiandae pariatur, officiis aliquid asperiores dolorum magnam dolores quis ab est quo velit!
                Perspiciatis assumenda ipsa sit neque dicta culpa. Omnis, laborum, recusandae fugit unde id explicabo sed suscipit facere ad voluptates perferendis delectus. Quaerat, optio debitis a ipsam consequatur excepturi? Labore, adipisci.
                Expedita magnam eveniet, unde hic laboriosam sit ipsam odio reprehenderit deleniti delectus minus illo eaque aut enim mollitia beatae minima. Nemo iure dolorem rerum beatae ut dicta omnis at voluptates.
                Suscipit amet distinctio mollitia sint dignissimos sed qui veritatis, dicta nemo nam fuga iste ratione ea obcaecati maiores est optio. Aut iusto velit explicabo possimus non reprehenderit at minus laboriosam?
                Excepturi laudantium accusamus eum cupiditate! Deleniti quos ducimus, placeat vero temporibus perferendis sint fugiat blanditiis, ea odit eius, sapiente harum aliquid ab rerum! Ratione provident molestiae cum ab, quia possimus.</p>
            </p>
    </div>
    <div id="product" class="container d-flex align-content-center flex-wrap" style="min-height: 100vh;">
            <h2>Product</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi atque! Incidunt saepe, tempora aperiam tempore, qui repudiandae pariatur, officiis aliquid asperiores dolorum magnam dolores quis ab est quo velit!
                Perspiciatis assumenda ipsa sit neque dicta culpa. Omnis, laborum, recusandae fugit unde id explicabo sed suscipit facere ad voluptates perferendis delectus. Quaerat, optio debitis a ipsam consequatur excepturi? Labore, adipisci.
                Expedita magnam eveniet, unde hic laboriosam sit ipsam odio reprehenderit deleniti delectus minus illo eaque aut enim mollitia beatae minima. Nemo iure dolorem rerum beatae ut dicta omnis at voluptates.
                Suscipit amet distinctio mollitia sint dignissimos sed qui veritatis, dicta nemo nam fuga iste ratione ea obcaecati maiores est optio. Aut iusto velit explicabo possimus non reprehenderit at minus laboriosam?
                Excepturi laudantium accusamus eum cupiditate! Deleniti quos ducimus, placeat vero temporibus perferendis sint fugiat blanditiis, ea odit eius, sapiente harum aliquid ab rerum! Ratione provident molestiae cum ab, quia possimus.</p>
            </p>
    </div>
    <div id="about" class="container d-flex align-content-center flex-wrap" style="min-height: 100vh;">
            <h2>About</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi atque! Incidunt saepe, tempora aperiam tempore, qui repudiandae pariatur, officiis aliquid asperiores dolorum magnam dolores quis ab est quo velit!
                Perspiciatis assumenda ipsa sit neque dicta culpa. Omnis, laborum, recusandae fugit unde id explicabo sed suscipit facere ad voluptates perferendis delectus. Quaerat, optio debitis a ipsam consequatur excepturi? Labore, adipisci.
                Expedita magnam eveniet, unde hic laboriosam sit ipsam odio reprehenderit deleniti delectus minus illo eaque aut enim mollitia beatae minima. Nemo iure dolorem rerum beatae ut dicta omnis at voluptates.
                Suscipit amet distinctio mollitia sint dignissimos sed qui veritatis, dicta nemo nam fuga iste ratione ea obcaecati maiores est optio. Aut iusto velit explicabo possimus non reprehenderit at minus laboriosam?
                Excepturi laudantium accusamus eum cupiditate! Deleniti quos ducimus, placeat vero temporibus perferendis sint fugiat blanditiis, ea odit eius, sapiente harum aliquid ab rerum! Ratione provident molestiae cum ab, quia possimus.</p>
            </p>
    </div>
    <div id="support" class="container d-flex align-content-center flex-wrap" style="min-height: 100vh;">
            <h2>Support</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi atque! Incidunt saepe, tempora aperiam tempore, qui repudiandae pariatur, officiis aliquid asperiores dolorum magnam dolores quis ab est quo velit!
                Perspiciatis assumenda ipsa sit neque dicta culpa. Omnis, laborum, recusandae fugit unde id explicabo sed suscipit facere ad voluptates perferendis delectus. Quaerat, optio debitis a ipsam consequatur excepturi? Labore, adipisci.
                Expedita magnam eveniet, unde hic laboriosam sit ipsam odio reprehenderit deleniti delectus minus illo eaque aut enim mollitia beatae minima. Nemo iure dolorem rerum beatae ut dicta omnis at voluptates.
                Suscipit amet distinctio mollitia sint dignissimos sed qui veritatis, dicta nemo nam fuga iste ratione ea obcaecati maiores est optio. Aut iusto velit explicabo possimus non reprehenderit at minus laboriosam?
                Excepturi laudantium accusamus eum cupiditate! Deleniti quos ducimus, placeat vero temporibus perferendis sint fugiat blanditiis, ea odit eius, sapiente harum aliquid ab rerum! Ratione provident molestiae cum ab, quia possimus.</p>
            </p>
    </div>
</div>
{% endblock content %}
{% block script %}
  
{% endblock script %}